body {
    background-color: white;
    margin: 0 auto;
}
.container_header {
    position: relative;
    width: 100%;
    padding-bottom: 0px;
}
#header {
    background-color:black;
    color: #1a4301;
    text-align: center;
}
.container_title {
    background-color: white;
    position:relative;
    width: 100%;
    border-bottom: 8px solid black;
    padding-top: 0px;
}
.nav-section {
    /* max-width: 50%; */
}
#title {
    color: black;
    text-align:left;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#Garrett_Lamothe {
    padding: 15px 50px 15px 50px;
    /* max-width: 50%; */
}
.container_main {
    display: flex;
    max-width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    position: absolute;
}
#main {
    background-color: white;
    text-align:center;
    display: flex;
    align-items: center;
    z-index: 10;
}
p {
    color:black;
    text-align:center;
}
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:white;
    text-align:center;
}
ul {
    padding: 10px;
    
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
.bg-body-tertiary {
    background-color: white !important;
}
.navbar-nav, .navbar-toggler {
    text-align:right;
}
.navbar>.container-fluid {
    justify-content:end;
}
.navbar-nav {
    padding-right: 0;
}
.nav-item {
    padding-right: 0;
}
.nav-link {
    color: black;
}
.container_carousel {
    background-color: white;
    position: relative;
    display: flex;
    justify-content:end;
    align-items:center;
}
#carousel_section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:white;
    margin-top:50px;
    margin-right:50px;
    margin-left:50px;
    margin-bottom:150px;
}
.plantidentifier_header {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container_fileinput {
    position: relative;
    display: flex;
    justify-content: center;
}
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 900 */
.bodoni-moda-title {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.bodoni-moda-body {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}